# Dependency directories
node_modules/

# Logs
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
/public/storage
/public/hot

# Laravel 5 & Lumen with changed public path
public_html/storage
public_html/hot

storage/*.key
/storage/pail
/.phpunit.cache
.phpunit.result.cache

.env.backup
.env.production
.phpactor.json

Homestead.yaml
Homestead.json
/.vagrant

/public/build
/.fleet
/.idea
/.vscode
auth.json
